.namerow{
    padding-bottom: 24px;
   margin-left: 75px;
   margin-right: 75px;
    border-radius:5px;
    margin-top:30px;
    background-color: white;
   }
   .name{
    width:1200px;
    margin-left:-5px
   }
   .untitled{
    border-radius:5px;
    margin-top:30px;
    background-color: white;
   margin-left:70px;
   margin-right: 70px;
   padding: 15px;
}
.subject{
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
}
.savebtn {
    width: 100px;
}
.cancelbtn{
    width:100px
}
.body{
    padding-bottom: 70px;
}
